<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form-Controller</title>
    <link rel="stylesheet" href="form_style.css">
</head>
<body>
    <form class="form_parent" action="/get-form-data" method="post">
        <input class="child_input1"
        type="text" 
        placeholder="Enter username"
        name="username"
        >
        <input class="child_input2"
        type="email" 
        placeholder="Enter email"
        name="email"
        >
        <input class="child_input3"
        type="password" 
        placeholder="Enter Password"
        name="password"
        >
        <button class="child_button">Submit Form</button>
    </form>
</body>
<script src="/assets/form_ctrl.js"></script>
</html>